/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5;
}

body {
  @apply bg-gray-300;
}

.bg-login {
  background-image: url('../../public/img/login.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.min-height {
  min-height: calc(100vh - 96px - 40px);
}

.logo {
  font-family: 'Dancing Script', cursive;
}

.nav-link {
  @apply p-2 w-full flex text-center gap-3 rounded-lg;
}

.nav-link.active {
  @apply bg-gray-300;
}

.nav-link:hover {
  background: rgba(0, 0, 0, 0.2);
}

.transition-1 {
  transition: all 100ms ease-in-out;
}

.transition-2 {
  transition: all 200ms ease-in-out;
}

.transition-3 {
  transition: all 300ms ease-in-out;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
